.DS_Store

.out
out
.dist
.run
.gradle
target
logs

.idea
*.iml
*.ipr
*.iws
*.class
*.log

# eclipse
.project
.settings
bin
.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/dependency-reduced-pom.xml
node_modules
.cache

.vscode
.factorypath
